.wrapper {
	margin: 0 auto;
	width: 900px;
}
		
.display-time {
	text-align: center;
	border: solid 1px #000;
	width: 30%;
	font-size: 22px;
}

#button-start, #button-reset {
	width: 15%;
	text-transform:  uppercase;
}